<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/logout">
                Logout
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/user/topic/dashboard" class="brand-link">
        <span class="brand-text font-weight-light">Jubilant Seller</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/user/topic/dashboard/twitter-api" class="nav-link" id="api-menu">
                        <i class="nav-icon fas fa-key"></i>
                        <p>
                            API Token
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/user/topic/dashboard/keyword" class="nav-link" id="keyword-menu">
                        <i class="nav-icon fa fa-search" aria-hidden="true"></i>
                        <p>
                            Keyword
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/user/topic/dashboard/blasting-session" class="nav-link" id="blasting-session-menu">
                        <i class="nav-icon fas fa-bullhorn"></i>
                        <p>
                            Sesi Blasting
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<script>
    var activeAttribute = function (id) { document.getElementById(id).classList.add('active') }
    const path = window.location.pathname
    var parts = path.split("/")

    if (parts[4] == "keyword") activeAttribute("keyword-menu")

    if (parts[4] == "twitter-api") activeAttribute("api-menu")

    if (parts[4] == "blasting-session") activeAttribute("blasting-session-menu")
</script>