<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Laloka!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" id="login-nav-item" href="/">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="registration-nav-item" href="/registration/step-1">Registrasi</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    var activeAttribute = function (id) { document.getElementById(id).classList.add('active') }
    const path = window.location.pathname
    var parts = path.split("/")

    if (parts[1] == "registration") {
        activeAttribute("registration-nav-item")
    } 
    
    if (parts[1] == "") {
        activeAttribute("login-nav-item")
    }
</script>