<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/boostrap-5/css/bootstrap.min.css">
    <style>
        body,
        html {
            height: 100%;
        }
    </style>
</head>

<body>
    {{ template "parts/guest-navbar" }}

    <div class="container d-flex h-100">
        <div class="row align-self-center w-100">
            <div class="col-6 mx-auto">
                <div class="shadow p-3 mb-5 bg-body rounded">
                    <h1>Lupa Password</h1>
                    <p>Silahkan masukan alamat email Anda</p>
                    <div id="alert-place">
                    </div>

                    <form action="/forgot-password" id="forgot-password-form"
                        class="needs-validation" novalidate>
                        <div class="mb-3" id="input-email">
                            <label for="secret" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Masukan Alamat Email"
                                required>
                        </div>
                        <div class="mb-3 d-grid gap-2">
                            <button class="btn btn-primary btn-block" type="submit">
                                Kirim
                            </button>
                        </div>
                    </form>
                    <p><a href="/">sudah ingat password</a></p>
                </div>
            </div>
        </div>
    </div>

    <script src="/boostrap-5/js/bootstrap.bundle.min.js"></script>
    <script src="/jquery/jquery.js"></script>
    <script src="/script/lib/alert.js"></script>
    <script>
        $(function () {
            function validation(data) {
                const { email } = data

                // remove text danger 
                var el = document.getElementsByClassName("text-danger")
                for (let i = 0; i < el.length; i++) {
                    el[i].remove()
                }

                // append text danger if validation error
                if (email == "") {
                    $("#input-email").append(`
                    <div class="text-danger">
                        <small>
                            email tidak boleh kosong
                        </small>
                    </div>`)

                    return true
                }

                return false
            }

            $("#forgot-password-form").submit(function (e) {
                e.preventDefault()
                const form = $(this)
                const url = form.attr("action")
                const data = {
                    email: $("#email").val()
                }
                const v = validation(data)

                if (!v) {
                    $.ajax({
                        url,
                        method: "post",
                        data,
                        beforeSend: function () {
                            setup_alert("", "loading")
                        },
                        success: function (res) {
                            setup_alert("email reset password terkirim check inbox atau spam anda", "success")
                        },
                        error: function (request, status, error) {
                            errObj = JSON.parse(request.responseText)
                            setup_alert(errObj.message, "failed")
                        }
                    })
                }
            })
        })
    </script>
</body>

</html>