<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/boostrap-5/css/bootstrap.min.css">
    <style>
        body,
        html {
            height: 100%;
        }
    </style>
</head>

<body>
    {{ template "parts/guest-navbar" }}

    <div class="container d-flex h-100">
        <div class="row align-self-center w-100">
            <div class="col-6 mx-auto">
                <div class="shadow p-3 mb-5 bg-body rounded">
                    <h1>Lupa Password</h1>
                    <p>Silahkan masukan alamat email Anda</p>
                    <div id="alert-place">
                    </div>

                    <form action="/reset-password" id="reset-password-form"
                        class="needs-validation" novalidate>
                        <div class="mb-3" id="input-email">
                            <label for="secret" class="form-label">Kode Reset</label>
                            <input type="text" class="form-control" id="secret" placeholder="Masukan Kode Reset"
                                required>
                        </div>
                        <div class="mb-3" id="input-password">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Masukan password">
                        </div>
                        <div class="mb-3" id="input-confirm-password">
                            <label for="confirm_password" class="form-label">Konfirmasi Password</label>
                            <input type="password" class="form-control" id="confirm_password"
                                placeholder="Masukan konfirmasi password">
                        </div>
                        <div class="mb-3 d-grid gap-2">
                            <button class="btn btn-primary btn-block" type="submit">
                                Reset Password
                            </button>
                        </div>
                    </form>
                    <p><a href="/">sudah ingat password</a></p>
                </div>
            </div>
        </div>
    </div>

    <script src="/boostrap-5/js/bootstrap.bundle.min.js"></script>
    <script src="/jquery/jquery.js"></script>
    <script src="/script/lib/alert.js"></script>
    <script>
        $(function () {
            function validation(data) {
                const { secret, confirm_password, password } = data

                // remove text danger 
                var el = document.getElementsByClassName("text-danger")
                for (let i = 0; i < el.length; i++) {
                    el[i].remove()
                }

                // append text danger if validation error
                if (secret == "") {
                    $("#input-email").append(`
                    <div class="text-danger">
                        <small>
                            kode reset tidak boleh kosong
                        </small>
                    </div>`)

                    return true
                }

                if (password == "") {
                    $("#input-password").append(`
                    <div class="text-danger">
                        <small>
                            password tidak boleh kosong
                        </small>
                    </div>`)

                    return true
                }

                if (confirm_password == "") {
                    $("#input-confirm-password").append(`
                    <div class="text-danger">
                        <small>
                            konfirmasi password tidak boleh kosong
                        </small>
                    </div>`)

                    return true
                }

                if (password != confirm_password) {
                    $("#input-confirm-password").append(`
                    <div class="text-danger">
                        <small>
                            konfirmasi password salah
                        </small>
                    </div>`)

                    return true
                }

                return false
            }

            $("#reset-password-form").submit(function (e) {
                e.preventDefault()
                const form = $(this)
                const url = form.attr("action")
                const path = window.location.pathname
                var parts = path.split("/")
                const data = {
                    token: parts[2],
                    secret: $("#secret").val(),
                    password: $("#password").val(),
                    confirm_password: $("#confirm_password").val(),
                }
                
                const v = validation(data)

                if (!v) {
                    $.ajax({
                        url,
                        method: "post",
                        data,
                        beforeSend: function () {
                            setup_alert("", "loading")
                        },
                        success: function (res) {
                            const { message, success, data } = res
                            setup_alert("password berhasil berubah", "success")
                            setTimeout(() => {
                                window.location.replace("/")
                            }, 1500)
                        },
                        error: function (request, status, error) {
                            errObj = JSON.parse(request.responseText)
                            setup_alert(errObj.message, "failed")
                        }
                    })
                }
            })
        })
    </script>
</body>

</html>